<a href="https://colab.research.google.com/github/unmtransinfo/CFChemDb/blob/main/notebooks/CFChemDb_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" height="100" src="https://www.nih-cfde.org/wp-content/uploads/2020/11/CFDE_logo-color-web.png">

# CFChemDb Demo

In [ ]:
import pandas as pd
import psycopg2,psycopg2.extras

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [ ]:
dsn = (f"host='unmtid-dbs.net' port='5442' dbname='cfchemdb' user='commoner' password='easement'")
dbcon = psycopg2.connect(dsn)
dbcon.cursor_factory = psycopg2.extras.DictCursor

In [ ]:
tables = pd.read_sql(f"SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'", dbcon)
rowcounts=None;
for tname in tables.table_name:
  df_this = pd.read_sql(f"SELECT COUNT(*) AS rowcount FROM {tname}", dbcon)
  df_this["table"] = tname
  rowcounts = df_this if rowcounts is None else pd.concat([rowcounts, df_this])
rowcounts = rowcounts[["table", "rowcount"]]
rowcounts

         table  rowcount
0  drugcentral      4713
0       glygen     33531
0          idg    251677
0        lincs     32469
0         meta         1
0         mols    311041
0   properties    311041
0       refmet    154676
0     reprotox       965

In [ ]:
columns=None;
for tname in tables.table_name:
  sql2 = (f"SELECT column_name,data_type FROM information_schema.columns WHERE table_schema = 'public' AND table_name = '{tname}'")
  df_this = pd.read_sql(sql2, dbcon)
  df_this["table"] = tname
  columns = df_this if columns is None else pd.concat([columns, df_this])
columns = columns[["table", "column_name", "data_type"]]
columns

          table  column_name          data_type
0   drugcentral           id  character varying
1   drugcentral         name  character varying
2   drugcentral   cas_reg_no  character varying
3   drugcentral       smiles  character varying
4   drugcentral     inchikey  character varying
..          ...          ...                ...
2      reprotox  pubchem_cid  character varying
3      reprotox       smiles  character varying
4      reprotox         term  character varying
5      reprotox       cansmi  character varying
6      reprotox       mol_id            integer

[106 rows x 3 columns]

In [ ]:
properties = pd.read_sql("SELECT column_name FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'properties'", dbcon)
properties = properties['column_name'].to_list()
properties.sort()
', '.join(properties)

'exact_mol_wt, fraction_csp3, heavy_atom_count, heavy_atom_mol_wt, max_abs_partial_charge, max_partial_charge, min_abs_partial_charge, min_partial_charge, mol_id, mol_wt, nhohcount, nocount, num_aliphatic_carbocycles, num_aliphatic_heterocycles, num_aliphatic_rings, num_aromatic_carbocycles, num_aromatic_heterocycles, num_aromatic_rings, num_hacceptors, num_hdonors, num_heteroatoms, num_radical_electrons, num_rotatable_bonds, num_saturated_carbocycles, num_saturated_heterocycles, num_saturated_rings, num_valence_electrons, ring_count, wildman_crippen_log_p'